<div class="artists-albums">
    {{#each artists}}
      {{#if images.[0]}}
      <div class="card">
        <img src="{{ images.[0].url }}" alt="{{ name }}">
        <h4>{{ name }}</h4>
        <a href="/albums/{{ id }}">View Albums</a>
      </div>
      {{/if}}
    {{/each}}
</div>