<main class="home">
  <div class="title-form-wrapper">
    <h1>Not Spotify</h1>
    <h4>Don't listen to music that sucks</h4>
    <form action="/artist-search" method="GET">
      <input type="text" placeholder="Artist name..." name="artist">
      <button>Search for an Artist</button>
    </form>
  </div>
</main>